<!DOCTYPE html>
<html>
<head>
	<title>Opgave 3: Javascript</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="padding: 0; margin: 0;">

 	<div id="UserInput" style="width: 50%; margin: auto;">
            <h1>String Manipulation</h1>
                <input id="inputField" v-model="input" placeholder="Input">
                    <button id="button" v-on:click="StringManipulation(input)" class="btn btn-primary">Enter</button>
        
        <ol>
            <li v-for="input in inputs">
            {{input}}
            </li>
        </ol>

        <table class="table">
            <tr v-for="input in inputs">
                <td>
                    {{input}}
                </td>
            </tr>
        </table>
        
	</div>
    <script src="index.js"></script>
</body>
</html>